<div style="color:#424242;font-size:12px;">Tarikh Hari Ini : <b>{{$ctrl.nowDate}}</b></div><br/>

<form name="searchForm">

    <div class="row">

        <div class="col-md-12 col-sm-12">
            <md-input-container class="md-block">
                <label>NEGERI</label>
                <md-select ng-model="$ctrl.SearchWaktu.state" name="state" required ng-change="$ctrl.getZones();$ctrl.isSearch=0;">
                    <md-option value="">--Sila Pilih--</md-option>
                    <md-option value="{{option}}" ng-repeat="option in $ctrl.States">{{option | uppercase }}</md-option>
                </md-select>

                <div ng-messages="searchForm.state.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Sila Pilih.
                        </div>
                    </div>

            </md-input-container>
        </div>

        <div class="col-md-12 col-sm-12">
            <md-input-container class="md-block">
                <label>ZONE</label>
                <md-select ng-model="$ctrl.SearchWaktu.zone" name="zone" required ng-disabled="$ctrl.Zones.length === 0" ng-change="$ctrl.getMonth();">
                    <md-option value="">--Sila Pilih--</md-option>
                    <md-option value="{{option.zone}}" ng-repeat="option in $ctrl.Zones">{{option.lokasi | uppercase }}</md-option>
                </md-select>

                <div ng-messages="searchForm.zone.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Sila Pilih.
                        </div>
                    </div>
            </md-input-container>
        </div>

        <div class="col-md-12 col-sm-12">
            <md-input-container class="md-block">
                <label>BULAN</label>
                <md-select ng-model="$ctrl.SearchWaktu.month" name="month" required ng-disabled="$ctrl.Months.length === 0">
                    <md-option value="">--Sila Pilih--</md-option>
                    <md-option value="{{option.monthCode}}" ng-repeat="option in $ctrl.Months">{{option.monthDesc | uppercase }}</md-option>
                </md-select>

                <div ng-messages="searchForm.month.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Sila Pilih.
                        </div>
                    </div>
            </md-input-container>
        </div>


        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label class="control-label col-md-4">&nbsp;</label>
                <div class="col-md-8">

                    <md-button class="md-raised md-accent" type="button" ng-click="$ctrl.applySearchFilter()" ng-disabled="searchForm.$invalid">Submit</md-button>
                    <md-button class="md-raised" type="button" ng-click="$ctrl.resetFilter()">Reset</md-button>

                </div>
            </div>
        </div>

    </div>

</form>

<div class="row" ng-if="$ctrl.isSearch==1">
    <div class="col-md-12">
        <result-waktu-solat search-obj="$ctrl.filterObj"></result-waktu-solat>
    </div>

</div>