<!--<md-toolbar style="background:transparent;">
    <div class="md-toolbar-tools">

        <h2 flex md-truncate>Waktu Solat My</h2>

        <md-button ng-href="./#/" aria-label="Register" class="custom-view-desktop">
            <md-icon md-menu-origin md-font-library="material-icons">dashboard</md-icon>
            <span> Waktu Solat</span>
        </md-button>-->

        <!--Menu Mobile view-->
        <!--<md-menu md-position-mode="target-right target" class="custom-view-mobile">

            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                <md-icon md-font-library="material-icons">more_vert</md-icon>
            </md-button>

            <md-menu-content width="4">
                
                <md-menu-item>
                    <md-button ng-href="./#!/">
                        <div layout="row" flex>
                            <md-icon md-menu-origin md-font-library="material-icons">dashboard</md-icon>
                            <span> Waktu Solat</span>
                        </div>
                    </md-button>
                </md-menu-item>

            </md-menu-content>

        </md-menu>

    </div>
</md-toolbar>-->

<waktu-solat></waktu-solat>
