<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-1" style="margin-top:5vh;">

    <span flex></span>
    <md-card layout-padding class="md-whiteframe-5dp" style="width: 100%;margin-left:1px;">
        <md-content>

            <md-toolbar class="md-accent md-whiteframe-1dp" style="height: 30px;border-left:solid 10px #01579b;">

                <div class="md-toolbar-tools">
                    <h2 flex md-truncate>Carian Waktu Solat Di Malaysia</h2>
                </div>

            </md-toolbar>

            <md-content class="md-padding" style="overflow:hidden;">

                <search-waktu-solat></search-waktu-solat>

            </md-content>

        </md-content>

    </md-card>

</div>
